<div id="tableheader">
<h1>Editing customer</h1>
</div>

<%= render 'form' %>
<br />
<br />
<%= link_to 'Show', @customer, :class=>'buttons' %>
<%= link_to 'Back', customers_path, :class=>'buttons' %>
