<div id="tableheader">
<h1>Editing salesman</h1>
</div>

<%= render 'form' %>
<br />
<br />
<%= link_to 'Show', @salesman, :class=>'buttons' %>
<%= link_to 'Back', salesmen_path, :class=>'buttons' %>
