<h1>List Sales</h1>

<table>
  <tr>
    <th>No</th>
    <th>Nama</th>
    <th>Manage</th>
    <th></th>
    <th></th>
  </tr>

<% @salesmen.each do |salesman| %>
  <tr>
    <td><%= salesman.id %></td>
    <td><%= salesman.name %></td>
	<td><%= link_to 'Buat', new_salesman_path %></td>
  </tr>
<% end %>
</table>

<br />
