<h1>List Sales</h1>

<table>
  <tr>
    <th>No</th>
    <th>Nama</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sales.each do |sale| %>
  <tr>
    <td><%= sale.id %></td>
    <td><%= sale.name %></td>
    <td><%= link_to 'Buat', new_sale_path %></td>
  </tr>
<% end %>
</table>

<br />
