body {font: 12px sans-serif;}
a {color: #444; text-decoration: none; text-align: right;}
a:hover {background: #444; color: #FFF;}


caption {font-size: 1.7em; color: #F06; text-align: left;background:#000;}
table {margin: 0; padding: 0; border-collapse: collapse; width: 100%;}
td, th {padding: 10px 4px; border-bottom: 1px solid #EEE;}
td + td {border-left: 1px solid #FAFAFA; color: #999;}
td + td + td {color: #666; border-left: none;}
td a {color: #444; text-decoration: none; text-align: right;}
td a:hover {background: #444; color: #FFF;}
tfoot th {text-align: right;}
th {text-align: center;}
th + th {text-align: center;}
th + th + th {text-align: left;}
th a {color: #F06; text-decoration: none; font-size: 1.1em;}
th a:visited {color: #F69;}
th a:hover {color: #F06; text-decoration: underline;}
tr th {color: #FFF; background:#000;}
tr {font: 12px sans-serif; background: url(prettyinpink_row.png) repeat-x #F8F8F8; color: #666;}
tr:hover {background: #FFF;}

tr th {padding:15px 0;
background-image: linear-gradient(bottom, rgb(66,65,66) 28%, rgb(15,13,14) 64%, rgb(0,0,0) 79%);
background-image: -o-linear-gradient(bottom, rgb(66,65,66) 28%, rgb(15,13,14) 64%, rgb(0,0,0) 79%);
background-image: -moz-linear-gradient(bottom, rgb(66,65,66) 28%, rgb(15,13,14) 64%, rgb(0,0,0) 79%);
background-image: -webkit-linear-gradient(bottom, rgb(66,65,66) 28%, rgb(15,13,14) 64%, rgb(0,0,0) 79%);
background-image: -ms-linear-gradient(bottom, rgb(66,65,66) 28%, rgb(15,13,14) 64%, rgb(0,0,0) 79%);
background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.28, rgb(66,65,66)),
	color-stop(0.64, rgb(15,13,14)),
	color-stop(0.79, rgb(0,0,0))
);
}
table th:first-child {
-moz-border-top-left-radius: 12px; -webkit-border-top-left-radius: 12px; border-top-left-radius: 12px;
-moz-border-bottom-left-radius: 12px; -webkit-border-bottom-left-radius: 12px; border-bottom-left-radius: 12px; 
}
table th:last-child {
-moz-border-top-right-radius: 12px; -webkit-border-top-right-radius: 12px; border-top-right-radius: 12px; 
-moz-border-bottom-right-radius: 12px; -webkit-border-bottom-right-radius: 12px; border-bottom-right-radius: 12px; 
}

h1 {width:100%; margin:2px 0; padding:20px 0; color:#fff; font-family:sans-serif; font-weight:normal; font-size:20px;
-moz-border-radius: 12px; -webkit-border-radius: 12px; border-radius: 12px;	
background-image: linear-gradient(bottom, rgb(66,65,66) 28%, rgb(15,13,14) 64%, rgb(0,0,0) 79%);
background-image: -o-linear-gradient(bottom, rgb(66,65,66) 28%, rgb(15,13,14) 64%, rgb(0,0,0) 79%);
background-image: -moz-linear-gradient(bottom, rgb(66,65,66) 28%, rgb(15,13,14) 64%, rgb(0,0,0) 79%);
background-image: -webkit-linear-gradient(bottom, rgb(66,65,66) 28%, rgb(15,13,14) 64%, rgb(0,0,0) 79%);
background-image: -ms-linear-gradient(bottom, rgb(66,65,66) 28%, rgb(15,13,14) 64%, rgb(0,0,0) 79%);
background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.28, rgb(66,65,66)),
	color-stop(0.64, rgb(15,13,14)),
	color-stop(0.79, rgb(0,0,0))
);
}